
.ipynb_checkpoints/Прикладная информатика. Лекция 1-checkpoint.ipynb

.ipynb_checkpoints/ПрИнф. 1. Введение. Числа-checkpoint.ipynb

.ipynb_checkpoints/ПрИнф. 2. Операторы-checkpoint.ipynb

qr-code.gif

.ipynb_checkpoints/
